*{
    padding: 0;
    margin: 0;
}

:root{


}



body{
    
}

.addBookContainer{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
} 

/* #addBookBtn{
    background-color: #1d4ed8;
    color: white;
    border: none;
    padding: .5rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
} */
.modal-container{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 1;
}

.modal{
    background-color: #475569;
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    margin: 15% auto;
    max-width: 300px;
    font-size: 16px;
}
.modal form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal form div {
    display: flex;
    flex-direction: column;
}
.modal form div:nth-last-of-type(1){
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.container {
    --input-focus: #2d8cf0;
    --input-out-of-focus: #ccc;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    position: relative;
    cursor: pointer;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
  }
  
  .checkmark {
    width: 20px;
    height: 20px;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--input-out-of-focus);
    transition: all 0.3s;
  }
  
  .container input:checked ~ .checkmark {
    background-color: var(--input-focus);
  }
  
  .checkmark:after {
    content: "";
    width: 3px;
    height: 10px;
    position: absolute;
    top: 2px;
    left: 8px;
    display: none;
    border: solid var(--bg-color);
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
.read-container{
    display: flex;
    align-items: center;
}
/* .btn{
    width: 100%;
    background-color: #ef4444;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    padding: .4rem;
    border: none;
} */
.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: .5s ease;
  cursor: pointer;
  z-index: 2;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: lightblue;
  transition: .5s ease;
}

.btn:hover {
  color: white;
  transition-delay: .5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: lightblue;
  transition: .4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
/* .submitBtn {
    width: 100%;
    background-color: #1d4ed8;
    color: white;
    border: none;
    padding: .4rem;
    border-radius: 15px;
    cursor: pointer;
} */


.bookContainer{
    width: 100%;
}

.book-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    height: auto;
    gap: 5rem;
    padding: 3rem;
}

/* .book{
    background-color: #0d9488;
    color: white;
    border-radius: 10px;
    padding: 20px;
} */

/* this card is inspired form this - https://georgefrancis.dev/ */

.card {
    --border-radius: 0.75rem;
    --primary-color: #1d4ed8;
    --secondary-color: #3c3852;
    width: 210px;
    font-family: "Arial";
    padding: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: #cbd5e1;
    box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px, rgba(46, 184, 226, 0.2) -15px 15px, rgba(46, 188, 240, 0.1) -20px 20px, rgba(46, 188, 240, 0.05) -25px 25px;
    position: relative;
}

  .card > * + * {
    margin-top: 1.1em;
  }

  .card .card__content {
    color: var(--secondary-color);
    font-size: 0.86rem;
  }
  
  .card .card__title {
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .card .card__date {
    color: #6e6b80;
    font-size: 0.8rem;
  }
  
  .card .card__arrow {
    position: absolute;
    background: var(--primary-color);
    padding: 0.4rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    bottom: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card svg {
    transition: 0.2s;
  }
  
  /* hover */
  .card:hover .card__title {
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  .card:hover .card__arrow {
    background: #111;
  }
  
  .card:hover .card__arrow svg {
    transform: translateX(3px);
  }

.trash-icon{
    color: white;
    font-size: 20px;
}


.form-control {
  position: relative;
  margin: 20px 0 40px;
}
.form-input{
  border-bottom: 4px solid white;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #ffffff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: lightblue;
  transform: translateY(-30px);
}



/* Note that you only needs to edit the config to customize the button! */

.plusButton {
  /* Config start */
  --plus_sideLength: 2.5rem;
  --plus_topRightTriangleSideLength: 0.9rem;
  /* Config end */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: var(--plus_sideLength);
  height: var(--plus_sideLength);
  background-color: #000000;
  overflow: hidden;
}

.plusButton::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover {
  cursor: pointer;
}

.plusButton:hover::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton:focus-visible::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton>.plusIcon {
  fill: white;
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover>.plusIcon {
  fill: black;
  transform: rotate(180deg);
}

.plusButton:focus-visible>.plusIcon {
  fill: black;
  transform: rotate(180deg);
}